
img{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    width:30px; 
    height:30px;
   
}

ul {
  border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: linear-gradient(90deg, rgba(0,128,128,0.2)  0%, rgba(0,128,128,0.2) 50%, rgba(1,255,187,0.2) 100%);
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(30, 151, 50);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  p{
    float: left;
    margin-top: 10px;
    color:brown;
    margin-left:10px;
    
  }

  li a:hover {
    background-color: rgb(0, 128, 133);
  }
  