<div class="container-fluid">

    <div class="row ">
       
        <div class="col-lg-6 col-12 text-center">
            <mat-card>
                <p>Elérhetöség</p>
                <img  mat-card-image src="assets/slides/4.jpg" alt="Szekszárd rákoczi utca">
            
            <div class="fluid">
                <fa-icon [icon]="mobil"></fa-icon>+36706169083
            </div>
            
            <div class="fluid">
                <fa-icon [icon]="facebook"></fa-icon><a href="https://www.facebook.com/antal.nichter"
                    target="_blank">Facebook</a>
            </div>
            </mat-card>
        </div>



        <div class="col-lg-6 col-12 text-center">
            <mat-card>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2753.585896405065!2d18.703402999999998!3d46.3577625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4742ede224de9c69%3A0xd9bfa75eccdf1911!2zU3pla3N6w6FyZCwgUsOha8OzY3ppIHUuIDY4LCA3MTAw!5e0!3m2!1shu!2shu!4v1658319990198!5m2!1shu!2shu"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </mat-card>
        </div>
    </div>
</div>

