
<div class="container">
    <div class="row">
      <div class=" col-xl-6 col-sm-12 " id="nagy img-container">
       <img src="assets/sirdisz/kep1.jpg" alt="Image" id="preview" class="img-fluid">
      </div>
    <div class="col-xl-6 col-sm-12  ">
         <div class="row ">
              <div class="img-slide active col-3 kicsi" >
                <img src="assets/sirdisz/kep1.jpg" alt="Image1" class="img-fluid" appDemo>
              </div>
              <div class="img-slide  col-3 kicsi" >
                <img src="assets/sirdisz/kep2.jpg" alt="Image2" class="img-fluid" appDemo>
              </div>
              <div class="img-slide  col-3 kicsi" >
                <img src="assets/sirdisz/kep3.jpg" alt="Image3" class="img-fluid" appDemo>
              </div>
              <div class="img-slide col-3 kicsi" >
                <img src="assets/sirdisz/kep4.jpg" alt="Image4" class="img-fluid" appDemo>
              </div>
              <div class="img-slide col-3 kicsi" >
               <img src="assets/sirdisz/kep5.jpg" alt="Image5" class="img-fluid" appDemo>
              </div>
              <div class="img-slide col-3 kicsi" >
               <img src="assets/sirdisz/kep6.jpg" alt="Image6" class="img-fluid" appDemo>
              </div>
              <div class="img-slide col-3 kicsi" >
               <img src="assets/sirdisz/kep7.jpg" alt="Image7" class="img-fluid" appDemo>
              </div>
              <div class="img-slide col-3 kicsi" >
               <img src="assets/sirdisz/kep8.jpg" alt="Image8" class="img-fluid" appDemo>
              </div>
              
            
         </div>
    </div>
    </div>
  
  
  </div>