<div class="container">
    <div class="row justify-content-around text-center ">
        <div class="col-md-4 col-sm-6  " >    
            <div class="card" id="size">
                <img src="assets\galeriaFo/Ajandek.jpg" class="card-img-top" alt="Ajándék">
                <div class="card-body">
                    <h5 class="card-title">Ajándék</h5>
                    
                    <a routerLink="/ajandek" class="btn btn-primary">Galéria</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="card" id="size">
                <img src="assets\galeriaFo/Asztaldisz.jpg" class="card-img-top" alt="Asztaldísz">
                <div class="card-body">
                    <h5 class="card-title">Asztaldísz</h5>
                    
                    <a routerLink="/asztaldisz" class="btn btn-primary">Galéria</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
            <div class="card" id="size">
                <img src="assets/galeriaFo/sirkoszoru.jpg" class="card-img-top" alt="Sírkoszorú">
                <div class="card-body">
                    <h5 class="card-title">Sírkoszorú</h5>
               
                    <a routerLink="/sirkoszoru" class="btn btn-primary">Galéria</a>
                </div>
            </div>
        </div>
<!--</div>-->
       <!-- <div class="row text-center ">-->
            <div class="col-md-4 col-sm-6  " >
                <div class="card" id="size">
                    <img src="assets/galeriaFo/koszoru.jpg" class="card-img-top" alt="Figurák">
                    <div class="card-body">
                        <h5 class="card-title">Koszorú</h5>
                      
                        <a routerLink="/koszoru" class="btn btn-primary">Galéria</a>
                    </div>
                </div>
            </div>
        
        
            <div class="col-md-4 col-sm-6 " >
                <div class="card" id="size">
                    <img src="assets/galeriaFo/sirdisz.jpg" class="card-img-top" alt="Sírdisz">
                    <div class="card-body">
                        <h5 class="card-title">Sírdísz</h5>
                
                        <a routerLink="/sirdisz" class="btn btn-primary">Galéria</a>
                    </div>
                </div>
            </div>
        
        
            <div class="col-md-4 col-sm-6 " >
                <div class="card" id="size">
                    <img src="assets/galeriaFo/csokor.jpg" class="card-img-top" alt="Csokor">
                    <div class="card-body">
                        <h5 class="card-title">Csokor</h5>
                      
                        <a routerLink="/csokor" class="btn btn-primary">Galéria</a>
                    </div>
                </div>
            </div>
        
    
</div>      
</div>





    






