<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6 col-12 text-center">
            <img src="assets/slides/1.jpg" id="kep" class="img img-fluid " title="Virágok és Koszoruk" appSlide>
            
            <p>

            </p>
        </div>



        <div class="col-lg-6 col-12 text-center">
            <h1>Bemutatkozás</h1>
            <p>Nichter Antalnak hívnak , Szekszárd élek és müködtetem a virágkötö műhelyem.Mindig is szerettem a virágokkal foglalkozni ,ezért ahogy nyugdíjas lettem
                belemerültem a virágkötészet világába.
                Elvégeztem egy virágkötö képzést ami felkészített hogy elinduljak a virágkötészeti pályán.
                Nagyobb ünnepekor a kapumnál kialakított árusitó helyen is
                megtalálható vagyok.
                Termékek amiket készítek: csokrok, sírdíszek, koszorúk, koporsódisz, falidísz és bármi amire igény
                mutatkozik.
            </p>

            <h1>Miért engem válassz? </h1>
            <p>Egész évben veszek fel rendelések és mindig a vevö igényeihez igazodva készítem el a termékeket.
                Jó áron , minöségi munkát végzek <a routerLink="contant">Elérhetöség</a></p>

        </div>
    </div>
</div>